<h1>勉強履歴・勉強計画一覧</h1>
<div>
<a href="/plan_new">勉強履歴・勉強計画を追加する</a>
<p>上のリンクから、これまでに何を勉強してきたか、今後何を勉強するかを記録できます。</p>
</div>
<% @plans.each do |plan| %>
  <div>
    <h3><%= plan["subject"] %></h3>
    <p>教材: <%= plan["material"] %></p>
    <p>開始（予定）日: <%= plan["start_date"] %></p>
    <p>終了（予定）日: <%= plan["end_date"] %></p>
    <p>何周するか: <%= plan["laps"] %></p>
    <p>何周したか: <%= plan["completed_laps"] %></p>
    <p>目的: <%= plan["purpose"] %></p>
    <p>進み具合: <% if plan["status"] == "in_progress" %>
      進行中
    <% elsif plan["status"] == "not_started" %>
      未開始
    <% else %>
      完了
    <% end %>
    </p>
    <a href="/plans/<%= plan["id"] %>/edit">この勉強履歴・勉強計画を編集する</a>
  </div>
<% end %>
<div>
<a href="/plan_new">勉強履歴・勉強計画を追加する</a>
</div>


