<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<h1>新規登録</h1>
<% if @error %>
<p style="color:red;"><%= @error %></p>
<% end %>
<form action="/signup" method="post">

    <div>
    <input type="text" name="name_kana" placeholder="名前(フリガナ)" value="<%= @name_kana %>">
    </div>

    <div>
    <input type="text" name="name" placeholder="名前" value="<%= @name %>">
    </div>

    <div>
    <input type="email" name="email" placeholder="メールアドレス" value="<%= @email %>">
    </div>

    <div>
    <input type="text" name="school" placeholder="学校名" value="<%= @school %>">
    </div>

    <div>
    <label for="grade">学年</label>
    <select name="grade" id="grade" required>
        <option value="">-- 選択してください --</option>
        <option value="中3">中3</option>
        <option value="高1">高1</option>
        <option value="高2">高2</option>
        <option value="高3">高3</option>
        <option value="総">総</option>
    </select>
    </div>

    <div>
    <input type="password" name="password" placeholder="パスワード" id="password-input">
    <i id="toggle-password" style="cursor: pointer;" class="far fa-eye">このボタンを押すとパスワードが表示されます</i>
    </div>
    <div>
    <input type="password" name="password_confirm" placeholder="パスワード(確認用)" id="password-input-confirm">
    <p>パスワードは8文字以上で英字と数字と記号（!@#$%^&*-）を含めてください</p>
    </div>
    <div>
    <input type="submit" value="新規登録">
    </div>
</form>

<a href="/">戻る</a>

<script src="/js/script.js"></script>

