<h1>全ユーザー情報</h1>

<div style="margin-top: 10px; margin-bottom: 15px;">
<form action="/member_search" method="get" class="search-form">
  <input type="text" name="query" placeholder="会員名や学校名やメールアドレスで検索..." value="<%= params[:query] %>" style="width: 33%;">
  <button type="submit" style="padding: 0.5rem 1.0rem;">検索</button>
</form>
</div>

<% if @members %>
    <h2>検索結果</h2>
    <ol>
    <% @members.each do |member| %>
        <li>
        <!-- 会員の詳細ページ（/members/1 など）へのリンク -->
            <a href="/users_info/<%= member['id'] %>">
            学年【<%= html_escape(member['grade']) %>】<%= html_escape(member['name']) %> （<%= html_escape(member['email']) %>）
            </a>
        </li>
    <% end %>
    </ol>
<% end %>

<div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
<% x = 1 %>
<% @users_by_campus.each do |campus, users| %>
    <h2><%= campus %></h2>
    <% users.each do |u| %>
        <p>
        <%= x %>:
        <% if u['avatar'] %>
            <img src="<%= u['avatar'] %>" alt="プロフィール画像" 
            class="profile-avatar"
            style="max-width: 50px; max-height: 50px; border: 1px solid #ccc; border-radius: 50%; box-shadow: 0 0 10px rgba(0,0,0,0.1); object-fit: cover;"
            >
        <% end %>
        <a href="/users_info/<%= u['id'] %>">学年【<%= u['grade'] %>】 <%= u['name'] %>(<%= u['name_kana'] %>) user ID: <%= u['id'] %></a></p>
        <% x += 1 %>
    <% end %>
<% end %>
</div>

<a href="/">戻る</a>

