<% @users.each do |user| %>
    <p>ID: <%= user['id'] %></p>
    <p>カナ: <%= user['name_kana'] %></p>
    <p>名前: <%= user['name'] %></p>
    <p>メールアドレス: <%= user['email'] %></p>
    <p>学校: <%= user['school'] %></p>
    <p>学年: <%= user['grade'] %></p>
    <p>第１志望校: <%= user['desired_school'] %></p>
    <p>学部: <%= user['faculty'] %></p>
    <p>学科: <%= user['department'] %></p>
    <p>第２志望校: <%= user['second_desired_school'] %></p>
    <p>学部: <%= user['second_desired_faculty'] %></p>
    <p>学科: <%= user['second_desired_department'] %></p>
    <p>英検取得済級: <%= user['eiken_level'] %></p>
    <p>英検取得希望級: <%= user['desired_eiken_level'] %></p>
    <p>共通テスト目標点R: <%= user['target_ct_reading'] %></p>
    <p>共通テスト目標点L: <%= user['target_ct_listening'] %></p>
    <p>共通テスト最終点R: <%= user['last_ct_reading'] %></p>
    <p>共通テスト最終点L: <%= user['last_ct_listening'] %></p>
    <p>得意な教科: <%= user['strong_subject'] %></p>
    <p>苦手な教科: <%= user['weak_subject'] %></p>
    <p>趣味: <%= user['hobby'] %></p>
    <p>部活: <%= user['club'] %></p>
    <p>やりたい職業: <%= user['desired_job'] %></p>
    <p>夢: <%= user['dream'] %></p>
    <p>抱負: <%= user['resolution'] %></p>
    <p>相談したいこと: <%= user['consult'] %></p>
    <p>悩み: <%= user['worry'] %></p>
    <p>授業に対する希望: <% if user['request_for_class'] == 't' %>希望する
    <% else %>希望しない</p>
    <% end %>
    <p>推薦希望受験の有無: <%= user['recommend_exam'] %></p>
    <p>作成日時: <%= user['created_at'] %></p>
    <p>更新日時: <%= user['updated_at'] %></p>
    <hr>

<% end %>

<a href="/">戻る</a>

