<h1>全ユーザー情報</h1>
<div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
<% x = 1 %>
<% @users_by_campus.each do |campus, users| %>
    <h2><%= campus %></h2>
    <% users.each do |u| %>
        <p>
        <%= x %>:
        <a href="/users_info/<%= u['id'] %>">学年【<%= u['grade'] %>】 <%= u['name'] %>(<%= u['name_kana'] %>) user ID: <%= u['id'] %></a></p>
        <% x += 1 %>
    <% end %>
<% end %>
</div>

<a href="/">戻る</a>

